name: Publish Library
    
on:
  push:
    branches: [main]

permissions:
  contents: read
  packages: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant permission
        run: chmod +x gradlew

      - name: Build
        run: ./gradlew clean build

      - name: Get short SHA
        run: echo "GIT_SHORT_SHA=$(git rev-parse --short=7 HEAD)" >> $GITHUB_ENV

      - name: Publish
        run: ./gradlew publish
        env:
          GITHUB_ACTOR: ${{ secrets.USER_GITHUB }}
          GITHUB_TOKEN: ${{ secrets.PAT_Token }}

      - name: Trigger Renovate in consumer repo
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.PAT_Token }}
          repository: Sadiq-Chigur/sample-consumer2
          event-type: connector-published


          