name: Publish Library
    
on:
  pull_request:
    types: [closed]
    branches: [main]

  workflow_dispatch:  # for manual trigger

permissions:
  contents: read
  packages: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant permission
        run: chmod +x gradlew

      - name: Build
        run: ./gradlew clean build

      - name: Get short SHA
        run: echo "GIT_SHORT_SHA=$(git rev-parse --short=7 HEAD)" >> $GITHUB_ENV

      - name: Get project version
        id: get_version
        run: |
          VERSION=$(./gradlew -q printVersion)
          # export for subsequent steps
          echo "PROJECT_VERSION=$VERSION" >> $GITHUB_ENV

      - name: Publish
        run: ./gradlew publish
        env:
          GIT_SHORT_SHA: ${{ env.GIT_SHORT_SHA }}
          GITHUB_ACTOR: ${{ secrets.USER_GITHUB }}
          GITHUB_TOKEN: ${{ secrets.PAT_Token }}

      - name: Notify consumer repo about new version
        run: |
          # VERSION="1.0.0-${{ env.GIT_SHORT_SHA }}"
          VERSION="${{ env.PROJECT_VERSION }}"
          BRANCH="${{ github.head_ref }}"
          echo "Notifying consumers with version $VERSION for branch $BRANCH  : ${{ github.ref_name }} : ${{ github.event.pull_request.base.ref }} : ${{ github.head_ref }} : ${{ github.event.pull_request.head.ref }}"
          curl -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.PAT_Token }}" \
            https://api.github.com/repos/sadiqchigurs/sample-consumer2/dispatches \
            -d '{"event_type":"dependency_update","client_payload":{"version":"'"$VERSION"'","branch":"'"$BRANCH"'"}}'
